<div class="sidebar">
  <div class="container sidebar-sticky">

    <nav class="sidebar-nav">
      <h2> {{ site.title }} </h2>
      <h3>Source</h3>
      <a href="https://github.com/nma83/SDCardTrac">Github</a>
      <h3>Download</h3>
      <a href="https://f-droid.org/repository/browse/?fdid=com.nma.util.sdcardtrac">F-Droid</a><br>
      <a href="http://forum.xda-developers.com/android/apps-games/storagetrac-record-plot-changes-t2860608">XDA Dev DB</a>

      <h3>Donate</h3>
      <a href="#donate">
      <img src="{{ site:baseurl }}/images/BC_Logotype.png" alt="Bitcoin" height="22" width="110"></img>
      </a>
      <div id="bitcoinaddr" class="bitcoinaddr" style="display: none;">
<!--      <img src="/images/bitcoin-qr.png" alt="QR" height="32" width="32" align="center"> -->
      <tiny>16bxTv1fP8X2QN5SWXc1AcKhhA1tJQKcTa</tiny>
      </div>

      <script id='fbrsq8m'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=narendra_m_a&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbrsq8m');</script>

      <hr>
      <small>
      Site by <b>Narendra Acharya</b> (<a href="https://twitter.com/narendra_m_a">@narendra_m_a</a>) using 
         <a href="http://hyde.getpoole.com/">Hyde</a>.
      </small>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
