<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55943390-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="sidebar">
  <div class="container sidebar-sticky">

    <nav class="sidebar-nav">
      <a href="{{ site:baseurl }}/"><h2> {{ site.title }} </h2></a>
      <h3>Download</h3>
      <a href="https://f-droid.org/repository/browse/?fdid=com.nma.util.sdcardtrac">F-Droid</a><br>
      <a href="https://play.google.com/store/apps/details?id=com.nma.sdcardtrac">Play store</a><br>
      <a href="http://forum.xda-developers.com/android/apps-games/storagetrac-record-plot-changes-t2860608">XDA Dev DB</a>

      <h3>About</h3>
      <a href="https://github.com/nma83/SDCardTrac">Source</a><br>
      <a href="{{ site.baseurl }}/news/">News</a>
      <h3>Donate</h3>
      <a href="#donate">
      <img src="{{ site:baseurl }}/images/BC_Logotype.png" alt="Bitcoin" height="22" width="110" align="center"></img>
      </a>
      <div id="bitcoinaddr" class="bitcoinaddr" style="display: none;">
<!--      <img src="/images/bitcoin-qr.png" alt="QR" height="32" width="32" align="center"> -->
      <tiny>16bxTv1fP8X2QN5SWXc1AcKhhA1tJQKcTa</tiny>
      </div>

      <script id='fbrsq8m'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=narendra_m_a&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbrsq8m');</script>
      <hr>
      <small>
	Site by <b><a href="{{ site.baseurl }}">Narendra Acharya</a></b> using 
	<a href="http://hyde.getpoole.com/">Hyde</a>.
      </small>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
