<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nma.util.sdcardtrac"
    android:versionCode="9"
    android:versionName="0.9" >

    <uses-sdk
        android:installLocation="internalOnly"
        android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >

        <activity
            android:name=".GraphActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value=".SearchableActivity" />
        </activity>

        <service android:name=".FileObserverService" />

        <receiver
            android:name=".DeltaCompute"
            android:process=":remote" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

	<activity android:name=".SearchableActivity" 
		  android:label="@string/title_search"
          android:launchMode="singleTop">
          <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
          </intent-filter>
          <meta-data android:name="android.app.searchable"
                     android:resource="@xml/searchable"/>
	</activity>
    </application>

</manifest>
